.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darker-black);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    max-width: 400px;
    margin: 40px auto;
    font-weight: bold;
    border: 1px solid #444;
}
  
.weather-img {
    width: 170px;
    height: auto;
}
  
.temperature {
    font-size: 56px;
    margin: 10px 0;
}
  
.feels-temp {
    font-size: 24px;
    margin: 10px 0;
}
  
.location {
    font-size: 29px;
    margin: 15px 0;
}
  
.date, .time {
    font-size: 21px;
    margin: 5px 0;
}
  